* {
	box-sizing: border-box;
}
:root {
	--background: #eee;
	--text-base: #3d3536;
	--text-darker: #000000;
}

html {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 24px;
	background-color: var(--background);
	color: var(--text-base);
}

body {
	padding: 20px;
}

html, body {
	height: 100%;
	line-height: 1.4;
	font-size: 24px;
}

strong {
	font-weight: 700;
}

p {
	margin: 20px 0;
}

a,
a:visited {
	text-decoration: underline;
	color: var(--text-base);
}
p a:hover {
	color: var(--text-darker);
}

#flex {
  display: flex;
  align-items: center;
  justify-content: center;
	height: 100%;
}

#wrapper {
	width: 600px;
}

#name {
	font-size: 48px;
	font-weight: 700;
	white-space: nowrap;
	line-height: 85%;
}

#contact {
	list-style: square;
	padding-left: 24px;
}

@media (min-width: 784px) {
	html, body {
		font-size: 28px;
	}	
}
