* {
	box-sizing: border-box;
}

html {
	border-top: 7px solid #3498db;
	font-family: 'Roboto', serif;
	font-weight: 300;
	font-size: 20px;
	color: #3d3536;
}

body {
	background:#eee;
}

html, body {
	height: 100%;
}

strong {
	font-weight: 400;
}

p {
	margin: 20px 0;
}

p a,
p a:visited {
	text-decoration: none;
	color: #3d3536;
}
p a:hover {
	color: #3498db;
}

#flex {
  display: flex;
  align-items: center;
  justify-content: center;
	height: 100%;
}

#wrapper {
	width: 840px;
	max-width: 100%;
	box-sizing: border-box;
	padding: 20px;
	line-height: 1.3;
	font-size: 1.2rem;
}

#name {
	font-family: 'Montserrat', serif;
	font-size: 3rem;
	font-weight: 700;
	white-space: nowrap;
	letter-spacing: -2px;
	line-height: 85%;
}

#description {
	width: 500px;
	max-width: 100%;
}

#contact a,
#contact a:visited {
	width: 1.5rem;
	height: 1.5rem;
	text-align: center;
	border-radius: 1rem;
	font-size: 0.8rem;
	padding: 0.2rem;
	box-sizing: border-box;
	border: 3px solid rgba(0, 0, 0, 0.2);
	display:inline-block;
	margin-right: 14px;
	text-decoration: none;
	color: #999;
	transition: all 0.5s;
}

#contact a:hover {
	color: #fff;
	border-color: #3498db;
	background-color: #3498db;
}

@media only screen and (min-width: 700px) {
	html {
		font-size: 30px;
	}
	#description {
		width: 700px;
	}
}
