---
import { getCollection } from "astro:content";
import Post from "../components/Post.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";

const collection = await getCollection("posts");
const posts = collection
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 50);
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class="md:pt-[20px]">
    <h1 class="mb-3 text-2xl font-medium leading-none">Recent posts</h1>
    <ul class="flex flex-col gap-8">
      {
        posts.map((post) => (
          <li>
            <Post inList post={post} />
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
