---
import { Image } from "astro:assets";
import { type CollectionEntry } from "astro:content";
import { cn } from "../lib/utils";
import PostMeta from "./PostMeta.astro";

interface Props {
  inList?: boolean;
  post: CollectionEntry<"posts">;
}

const { inList, post } = Astro.props;
const isShortContent = post.body?.length < 400;
const { Content } = await post.render();
---

<article>
  <PostMeta inList={inList} post={post} />
  <div class={cn("post-content", isShortContent ? "short-content" : "")}>
    {
      post.body ? (
        <Content />
      ) : post.data.image ? (
        <Image
          src={post.data.image}
          alt="Post image"
          width="1024"
          height="1024"
          class="rounded-xl"
        />
      ) : null
    }
  </div>
</article>

<style>
  article {
    font-size: 16px;
    img {
      border: none;
    }
    img:first-child {
      margin-top: 0.5rem;
    }
    img:last-child {
      margin-bottom: 0;
    }
    p {
      margin: 0.6rem 0;
      line-height: 1.5;
    }
    p:first-child {
      margin-top: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }
    .post-content a {
      color: inherit;
      font-weight: 500;
      text-decoration: underline;
    }
    .short-content {
      font-size: 18px;
    }
  }
</style>
